venv
myenv
*.pyc
*.pyo
staticfiles
.env
.idea/
__pycache__/
db.sqlite3

media/

*.sublime-project
*.sublime-workspace

.terraform/

*.tfstate
*.tfstate.*

crash.log

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfplan

.terraformrc
terraform.rc