{% extends "base.html" %}

{% block body %}
    <div class="container center">
        {% if developer %}
            <div id="apiinfo" class="container-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title"><a data-toggle="collapse" href="#collapseApi">REST API</a></h2>
                    </div>
                    <div id="collapseApi" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% if token %}
                                <p>Токен: {{ token }}</p>
                                <div class="row">
                                    <div class="col-md-4"><a class="btn btn-default" style="margin-top: 10px"; href="{% url "games" %}?token={{ token }}">Отримати всі ігри</a></div>
                                    <div class="col-md-4"><a class="btn btn-default" style="margin-top: 10px"; href="{% url "my_games" %}?token={{ token }}">Отримати мої ігри як розробник</a></div>
                                </div>
                            {% else %}
                                <p>У вас немає токена.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <div class="row">
            <div class="col-md-6">
                <h1>Мої ігри <small>{{ my_games|length }} Ігри</small></h1>
                <hr>
                {% if developer %}
                    {% if my_games %}
                        <div class="panel panel-default" style="text-align: left;">
                            <table class="table table-bordered">
                                {% for game in my_games %}
                                    <tr>
                                        <td><a class="text-primary" href="{% url "game" game.id %}">{{ game }}</a></td>
                                        <td>{{ game.sales }} гравець{% if game.sales > 1 %}і{% endif %}</td>
                                        <td><a class="text-primary" href="{% url "game_update" game.id %}"><span class="glyphicon glyphicon-edit" style="margin-left: 1.5em;"></span> Редагувати </a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <p>Ви ще не опублікували жодної гри.</p>
                        {% url "game_create" as game_create_url %}
                        <a class="btn btn-primary" href="{{ game_create_url }}">опублікувати свою першу гру</a>
                    {% endif %}
                {% else %}
                    <div>
                        <p>Ви не зареєстровані як розробник.</p>
                           <a class="btn btn-primary" href="{% url "switch_to_developer" %}">стати розробником</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>Мої покупки <small>Загальна витрата: {{ total_spent }}€</small></h1>
                <hr>
                {% if payments %}
                    <div class="panel panel-default" style="text-align: left;">
                        <table class="table table-bordered">
                            {% for payment in payments %}
                                <tr>
                                    <td><a class="text-primary" href="{% url "game" payment.game.id %}">{{ payment.game.name }}</a></td>
                                    <td>{{ payment.date }}</td>
                                    <td>{{ payment.amount }}€</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p>Ви ще не придбали жодної гри.</p>
                    <a class="btn btn-primary" href="/">переглянути наш каталог</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
