{% extends "base.html" %}

{% load bootstrap %}
{% block title %}Увійти | Seed Game Store{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 card-bg">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|bootstrap }}
                    <button class="btn btn-primary">Увійти</button>
                    <a href="{% url 'password-reset' %}" class="btn btn-primary">Забули пароль?</a>
                </form>
                <div style="margin: 20px 0;" class="row">
                    <p>Немає облікового запису? <a href="{% url 'signup' %}">Зареєструватися</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
