{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Signup | Seed Game Store{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 card-bg">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-primary">Sign Up!</button>
                </form>
                <div style="margin: 20px 0;" class="row">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
